---
layout: default
---
{% include /QA/whatispsm.html %}


<h3>[最新消息]</h3>

<hr> 
<br />
<div class="posts">
  {% for post in site.categories.news %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	<br />
	<hr>
    </article>
  {% endfor %}
</div>

<hr>
<br />  

    <div align="central">
	<a href="{{ site.baseurl }}/toc">［全站所有文章目录］</a>
    </div>
