
<h3>版权</h3>
<p>我热爱自由，并想让这份自由保持下去，所以：
<ul>
    <li>我的原创和翻译文章都尽可能使用<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">CC-BY-SA 4.0</a>协议进行授权；</li>
    <li>本站尽量引用/转载具有以上协议授权的文字；如引用了非自由协议授权的文字，会特别注明。</li>
</ul></p>
<p>这意味着：如果你要转载或者引用我的文章， 不需要 问我，你只要标明这篇文章是我写的（或翻译的）、原作者、原链接、还有它采用 CC-BY-SA 4.0 进行授权就可以了。当然，如果你重新混合、修改、或者在我的基础上再进行创作的话，你的作品也 <strong>必须</strong> 采用 CC-BY-SA 4.0 协议，并且需要注明原文已被修改。</p>
<p>如果你也是（或准备成为）本站的贡献者，我也期望你的作品使用CC-BY-SA 4.0或其他“自由文档”协议授权。</p>
<p>如果你认为本站的内容侵犯了你的版权，请来信告知，我会改正。</p>
<p>什么是CC-BY-SA 4.0: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">署名-相同方式共享协议</a></p>
<p>I use <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> to authorize the use of the articles I create or translate. And I try to cite and translate those articles with similar 'free documentation' agreements.</p>
<p align="right">塗尔干</p>
<hr>
<h3>隐私</h3>
<p>我非常在意自己的隐私并且希望你也这么做，所以不以身作则给自己的博客写一个隐私政策是不好滴。首先，我不会（也没法）收集你的你的个人信息（如IP地址）。
因为这个网站的服务器是 GitHub 的，我没有对服务器的访问权限也没法查看日志。如果你认为本站的某个内容侵犯了你的个人隐私，请来信告知和协商。</p>
