<h3> 什么是”精神科幸存者运动“？</h3>
<p> 这个名称来自20世纪60-70年代在北美和欧洲兴起的公民权利运动的一部分。有过精神科经历、或正在使用精神科药物/治疗的使用者、和精神科幸存者（受害者）
，意识到自己不是精神科治疗的被动接受者（受体），对于自己的治疗，自己应该掌握主动。一系列公民行动带出了幸存者（和使用者）们对精神医学的反思和批判，主体意识的提升——首先是人，然后才是病人。因此，幸存者们同时开始寻觅能替代精神医学的”另类“方法，真正对自己有效，真正的疗愈（healing）,而不是治我（treatment）。</p>
<p>- 关于这场公民行动的历史，维基百科有详细地记录了。有志愿者做了翻译，请看<a href="{{ site.baseurl }}/movement-cn/">[这里]</a>。英文原文请点：<a href="https://en.wikipedia.org/wiki/Psychiatric_survivor_movement">[这里]</a>。</p>
<p>想了解更多？请点击<a href="{{ site.url }}/about/">[问与答]</a>。

