<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	<section class="page-header">
      	<h1 class="project-name">{{ site.title }}</h1>
      	<h2 class="project-tagline">{{ site.tagline }}</h2>
      	<h3 class="project-tagline">{{ site.description }}</h3>
	<a href="{{ site.baseurl }}" class="btn">首页/动态</a>
	<a href="{{ site.baseurl }}/alternatives/" class="btn">超越精神医学</a>
	<a href="{{ site.baseurl }}/autonomy/" class="btn">自主用药</a>
	<a href="{{ site.baseurl }}/CRPD-l10n/" class="btn">CRPD-l10n</a>
	<a href="{{ site.baseurl }}/monitor/" class="btn">监察精神病院</a>
	<!--	<a href="{{ site.baseurl }}/why/" class="btn">WHY</a>    -->
	<a href="{{ site.baseurl }}/qna/" class="btn">问与答</a>
	</section>

	<section class="main-content">
        {{ content }}
	</section>

<hr>

{% include footer.html %}

</body>

</html>
